
<!-- Contatos Desktop -->
<section id="contatosDesktop" class="contatos d-none d-md-flex">
    <div class="container-contatos">
        <div class="contatos-title">
            <h1>Contato:</h1>
            <p>Entre em contato conosco hoje mesmo e comece a contar os dias para a sua estadia relaxante na praia! </p>
        </div>
        <!-- Whatsapp -->
        <div class="whatsapp">
            <a href="https://api.whatsapp.com/send?phone=+5513981957811&text=Ol%C3%A1,%20gostaria%20de%20alugar%20uma%20de%20suas%20estadias" target="_blank">
            <div class="whatsapp-logo">
              <img src="./assets/img/whatsapp.png">
            </div>
            &nbsp;&nbsp;&nbsp;
            <p>Whatsapp</p>
          </a>
        </div>
        <div class="container-savepix">
            <!-- Salvar Contato -->
            <div class="contacts">
                <a href="../vcard/Chacara.vcf">
                    <div class="contacts-logo">
                        <img src="./assets/img/save.png">
                    </div>
                    &nbsp;&nbsp;
                    <p>Salvar Contato</p>
                </a>
                </div>
                
            <!-- Pix -->
            <div class="contacts">
                <button class="other-button" id="copiarPixButton" onclick="modalPix()">
                    <a  onclick="copiarTexto('13981957811')">
                        <div class="contacts-logo">
                            <img src="./assets/img/pix.png">
                        </div>
                        &nbsp;&nbsp;
                        <p>Chave Pix</p>
                    </div>
                </a>
            </button>
        </div>
        <!-- Qr Code -->
        <div class="contacts">
            <button class="other-button" id="qrcode-button" onclick="modal()">
                <div class="contacts-logo">
                    <img src="./assets/img/QRCode.png">
                </div>
                &nbsp;&nbsp;&nbsp;
                <p>QrCode</p>
            </button>
        </div>
        <!-- Redes Sociais -->
        <br>
        <div class="social">
            <p>Siga nossas redes sociais:</p>
            &nbsp;&nbsp;
            <div class="container-logo">
                <a href="https://www.instagram.com/chacarapenaareia" target="_blank">
                    <div class="logo-back">
                        <img src="./assets/img/facebook.png">
                    </div>
                </a>
                &nbsp;&nbsp;
                <a href="https://www.instagram.com/chacarapenaareia" target="_blank">
                    <div class="logo-back">
                        <img src="./assets/img/instagram.png">
                    </div>
                </a>
            </div>
        </div>
    </div>
    <picture class="logo-canis">
        <img src="./assets/img/ilustração-canis-dourado/canis-dourado-svg-transparente.svg">
    </picture>
</section>

