<!-- Descrição do local -->
<section id='container-descricao-chacara' class="container-descricao d-none d-md-flex">
    <div class="descricao-itens">
        <div class="descricao-title">
            <h1>Chácara <span class="desc-special-word">Pé na Areia</span></h1>
        </div>
        <div class="descricao-text">
            <p>Desfrute de um paraíso à beira-mar com vistas deslumbrantes para o Canal do Mar, uma praia reservada de mais de 30 metros e um vasto espaço natural.
                Oferecemos mais de 2000 metros quadrados de privacidade, um bosque encantador e uma casa com varanda,  com uma área de churrasco e balanço para as crianças. </p>
        </div>
        <div class="container-localiza">
            <a class="localiza" href="https://www.google.com/maps?q=-25.0297881,-47.9128129" target="_blank" rel="noopener noreferrer">Ver Localização no Google
                Maps&nbsp;<img src="./assets/img/external-link-alt.svg"></a>
        </div>
        <div class="container-botao">
            <a href="https://api.whatsapp.com/send?phone=+5513981957811&text=Ol%C3%A1,%20gostaria%20de%20alugar%20a%20Ch%C3%A1cara%20Pe%20Na%20Areia" target="_blank" class="btn btn-reserva">Reservar Agora</a>
        </div>
        <div class="container-itens">
            <div class="item">
                <div class="logo-item">
                    <img src="./assets/img/home.svg">
                </div>&nbsp;&nbsp;
                <div class="item-text">
                    <p>Mobiliado, com utensílios de cozinha e quarto</p>
                </div>
            </div>
            <div class="item">
                <div class="logo-item">
                    <img src="./assets/img/praia.svg">
                </div>&nbsp;&nbsp;
                <div class="item-text">
                    <p>Praia Particular de mais de 30 metros</p>
                </div>
            </div>
            <div class="item">
                <div class="logo-item">
                    <img src="./assets/img/wifi.svg">
                </div>&nbsp;&nbsp;
                <div class="item-text">
                    <p>Wifi, luz e água disponíveis gratuitamente</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-descricao-img">
        <div class="descricao-img">
            <img src="./assets/img/chacara/interior-3.jpg">
            <img src="./assets/img/chacara/interior-1.jpg">
        </div>
        <div class="descricao-img">
            <img src="./assets/img/chacara/paisagem-13.jpg">
        </div>
    </div>
</section>