<!-- Descrição do local -->
<section id='container-descricao-studio' class="container-descricao d-none d-md-flex">
    <div class="descricao-itens">
        <div class="descricao-title">
            <h1>Studio <span class="desc-special-word">Canis</span></h1>
        </div>
        <div class="descricao-text">
            <p>
                Próxima à Beira Mar está situada à beira-mar em Cananéia.
                    O apartamento dispõe de 1 quarto, TV de tela plana com serviços de streaming, cozinha compacta totalmente equipada com micro-ondas e geladeira, e 1 banheiro com banheira ou chuveiro. As toalhas e roupas de cama são fornecidas no apartamento. Para maior privacidade, a acomodação dispõe de entrada privativa.
            </p>
        </div>
        <div class="container-localiza">
            <a class="localiza" href="https://maps.app.goo.gl/V6D1or2ZaMjS9ZTm9" target="_blank" rel="noopener noreferrer">Ver Localização no Google
                Maps&nbsp;<img src="./assets/img/external-link-alt.svg"></a>
        </div>
        <div class="container-botao">
            <a href="https://api.whatsapp.com/send?phone=+5513981957811&text=Ol%C3%A1,%20gostaria%20de%20alugar%20o%20Studio%20Canis" target="_blank" class="btn btn-reserva">Reservar Agora</a>
        </div>
        <div class="container-itens">
            <div class="item">
                <div class="logo-item">
                    <img src="./assets/img/home.svg">
                </div>&nbsp;&nbsp;
                <div class="item-text">
                    <p>Mobiliado, com utensílios de cozinha e quarto</p>
                </div>
            </div>
            <div class="item">
                <div class="logo-item">
                    <img src="./assets/img/praia.svg">
                </div>&nbsp;&nbsp;
                <div class="item-text">
                    <p>Próximo a serviços públicos e atrações</p>
                </div>
            </div>
            <div class="item">
                <div class="logo-item">
                    <img src="./assets/img/wifi.svg">
                </div>&nbsp;&nbsp;
                <div class="item-text">
                    <p>Wifi, luz e água disponíveis gratuitamente</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-descricao-img">
        <div class="descricao-img">
            <img src="../assets/img/studio/paisagem 5.jpg">
            <img src="../assets/img/studio/studio 1.jpg">
        </div>
        <div class="descricao-img">
            <img src="../assets/img/studio/paisagem 7.jpg">
        </div>
    </div>
</section>